body {
    background-color: #333533;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    color: green;
    padding: 30px;
}

.elemento-lista {
   color: black;
}

span {
    color: rgba(240, 236, 10, 0.921);
}

h2 {
    color: black;
}


img {

    border-radius: 8px;
}

p {
    color: #a2d2ff;

}

p::first-letter {
    font-size: 30px;
}


li{
   color: red;
}